body {
    background-color: rgb(27, 27, 27);
    padding: 40px 500px 40px 500px;
}
ul {
    list-style-type: none;
    padding: 0%;
}
.div1 {
    box-shadow: 0 10px 6px #535353;
    text-align: center;
    margin-top: 50px;
    margin-left: 5px;
    background: #403c40;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 25px;
    text-decoration: none;
    font-weight: bold;
}
.btn {
    background: #605e60;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #e6e1e4;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px ;
    width: 100%;
}
.btn:hover {
    background: #252424;
    text-decoration: none;
}
a {
    color: #ffffff;
}